/* Website Section */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

gradient-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    transition: background-color 0.5s ease-in-out;
}


/* Header Section */
#header {
    width: 100%;
    /* vh is viewport height */
    height: 100vh;
    /* background-image: url(images/background.png); */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #d3d4d7;
}

.container {
    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    width: 140px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;

}

nav ul li a {
    color: #d3d4d7;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0%;
    height: 3px;
    background: #04060D;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.4s;
}

nav ul li a:hover::after {
    width: 100%;
}

.website-logo {
    font-size: 45px;
}

.website-logo h1 span {
    color: #04060D;
}

.header-text {
    font-size: 30px;
    margin-top: 10%;
}

.header-text h1 { 
    font-size: 60px;
    margin-top: 20px;
}

.header-text h1 span {
    color: #04060D;
}

/* About Section */

#about {
    color: #d3d4d7;
    margin-top: -100px;
}

.row {
    display: flex; /* side-by-side content */
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    /* width of column relative to window*/
    flex-basis: 35%;
}

.about-col-1 img {
    width: 100%;
    /* rounded corners */
    border-radius: 15px;

}

.about-col-2 {
    flex-basis: 100%;
}

.subtitle {
    font-size: 60px;
    font-weight: 600;
    color: #d3d4d7;
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;

}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #04060D;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.4s;
}

.tab-links.active-link::after {
    width: 50%;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
}

/* for skill titles */
.tab-contents ul li span {
    color: #04060D;
    font-size: 16px;
    font-weight: bold;
}

.tab-contents{
    display: none;

}

.tab-contents.active-tab {
    display: block;
}

/* Services Section */

#services {
    padding: 30px 0;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

/* for individual services in services-list */
.services-list div {
    background: #d3d4d7;
    padding: 40px;
    font-size: 13;
    font-weight: 300;
    border-radius: 10px; /* rounded corners */
    transition: background 0.5s, transform 0.5s;
}

/* for three icons */
.services-list div i {
    font-size: 50px;
    margin-bottom: 30px;
}

/* for services title */
.services-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

/* for services links */
.services-list div a {
    text-decoration: none;
    color: #d3d4d7;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

/* when mouse hovers over a service, change background and move down 10 pixels */
.services-list div:hover {
    background: #d3d4d7;
    transform: translateY(-10px);
}

/* Portfolio Section */
#portfolio {
    padding: 50px 0;

}

/* work images in a grid layout (same as services) */
.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;   
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden; /* content clipped to padding box */
}

<<<<<<< HEAD
=======
.eco-move {
    padding-top: 15%;
}

>>>>>>> b305eac8514c15dbea768a0be8a0d4c2a15e2b03
.work img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0%;
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
    background-color: #4070f4;
    opacity: 0.8;
}

.layer h3 {
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 20px;
}

/* icon */
.layer a { 
    margin-top: 20px;
    color: #04060D;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #d3d4d7;
    width: 60px;
    height: 60px;
    border-radius: 50%; /* circle */
    text-align: center;
}

.work:hover img {
    transform: scale(1.2);
}

.work:hover .layer {
    height: 100%;
}

.btn {
    display: block;
    margin: 50px auto; /* 50px top-bottom and centered left-right */
    width: fit-content;
    border: 1px solid #04060D;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #d3d4d7;
    transition: background 0.5s;
}

.btn:hover {
    background: #04060D;
}

/* Contact Section */
.contact-left {
    flex-basis: 35%;
}

.contact-right {
    flex-basis: 60%;
}

.contact-left p {
    margin-top: 30px;
}

.contact-left p i {
    color: #04060D;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons {
    margin-top: 30px;
}

.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #d3d4d7;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover {
    color: #04060D;
    transform: translateY(-5px);
}

.btn.btn2 {
    display: inline-block;
    background: #04060D
}

.contact-right form {
    width: 100%;
}

form input, form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #d3d4d7;
    font-size: 18px;
    border-radius: 6px;
}

form .btn2 {
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
  

.copyright {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #d3d4d7;
    font-weight: 300;
    margin-top: 20px;
}

/* CSS for Small Screens */
nav .fas {
    display: none;
}

@media only screen and (max-width: 600px) {
    #header {
        background-image: url(images/phone-background.png);
    }

    .header-text {
        margin-top: 100%;
        font-size: 16px;
        text-align: left;
    }

    .header-text h1 {
        font-size: 30px;
    }

    nav .fas {
        display: block;
        font-size: 25px;
    }

    nav ul {
        background-color: #04060D;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }

    nav ul li {
        display: block;
        margin: 25px;
    }

    nav ul .fas {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    .subtitle {
        font-size: 40px;
    }

/* increase width with flex-basis */    
    .about-col-1, .about-col-2 {
        flex-basis: 100%;
    }

    .about-col-1 {
        margin-bottom: 30px;
    }

    .about-col-2 {
        font-size: 14px;
        
    }

    .tab-links {
        font-size: 15px;
        margin-left: 20px;
    }

    .contact-left, .contact-right {
        flex-basis: 100%;
    }

    .copyright {
        font-size: 14px
    }
}

#msg{
    color: #61b752;
    margin-top: -10px;
    display: block;
}

.container .skill-box{
    width: 100%;
    margin: 25px 0;
}
.skill-box .title{
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: #333;
}
.skill-box .skill-bar{
    height: 8px;
    width: 100%;
    border-radius: 6px;
    margin-top: 6px;
    background: rgba(0,0,0,0.1);
}
.skill-bar .skill-per{
    position: relative;
    display: block;
    height: 100%;
    width: 90%;
    border-radius: 6px;
<<<<<<< HEAD
    background: #4070f4;
=======
    background: #d3d4d7;
>>>>>>> b305eac8514c15dbea768a0be8a0d4c2a15e2b03
    animation: progress 0.4s ease-in-out forwards;
    animation-delay: 0.3s;
    opacity: 0;
}
.skill-per.css{
    width: 70%;
    animation-delay: 0.5s;
}
.skill-per.python{
    width: 50%;
    animation-delay: 0.7s;
}
.skill-per.nodejs{
    width: 30%;
    animation-delay: 0.9s;
}
@keyframes progress {
    0%{
        width: 0;
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}
.skill-per .tooltip{
    position: absolute;
    right: -14px;
    top: -28px;
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    padding: 2px 6px;
    border-radius: 3px;
    background: #4070f4;
    z-index: 1;
}
.tooltip::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: -2px;
    height: 10px;
    width: 10px;
    z-index: -1;
    background-color: #4070f4;
    transform: translateX(-50%) rotate(45deg);
}

